@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.form-container {
  background-color: white;
  padding: 4em;
}

.form-container {
  position: relative;
  border: #1a1a1a solid;
  width: 250px;
}
.form-container:hover {
  transform: translateY(-10px);
  transition: transform 1s ease;
}

@media (min-width: 800px) {
  .form-container {
    text-align: left;
  }
  .container {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 800px) {
  .form-container {
    margin: 0 auto;
  }
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 100%;
  font-size: 1.5rem;
}

.icon {
  font-size: 3rem;
  padding: 10px;
}
.contact::before {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 1px;
}
.icon:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

/* button colors */
.black {
  background-color: black;
}
.green {
  background-color: green;
}

/* borders */
.red-border {
  border-color: red;
}
.black-border {
  border-color: black;
}
